.app--wrap {
  background: #0a1014;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app--main {
  background: #101a20;
  display: flex;
  height: 100%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 6px 18px rgba(11, 20, 26, 0.05);
}

@media screen and (min-width: 1400px) {
  .app--main {
    top: 20px;
    width: 1350px;
    height: calc(100% - 40px);
  }
}
